region: "${region}"
profile_name: "${profile}"
bucketname: "${Bucketname}"
role_policy_arn: "${proxyCertAssociationPolicyArn}"
role_arn: "${proxyInstanceRoleArn}"
cert_arn: "${tlsCertificateArn}"
domain: "${domain}"
base_stack_ip_or_host: "${NucleusServerPrivateDnsName}"