region: "${region}"
profile_name: "${profile}"
bucketname: "${Bucketname}"
domain: "${domain}"
instance_name: "${instance_name}"
base_stack_ip_or_host: "${NucleusServerPrivateDnsName}"
omni_farm_host: "${omni_farm_host}"
auth_root_of_trust_pub: "${auth_root_of_trust_pub}"
discovery_registration_token: "${discovery_registration_token}"
search_backend_type: "${search_backend_type}"
search_backend_host: "${search_backend_host}"
server_ip_or_host: "${server_ip_or_host}"